<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mantoto.property.myapplication">

    <uses-sdk android:minSdkVersion="3" android:maxSdkVersion="23"/>
    <application
        android:name=".MantotoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--忘记密码-->
        <activity android:name=".activities.ForgetPasswordActivity"/>
        <!--注册-->
        <activity android:name=".activities.RegisterActivity"/>
        <!--首页-->
        <activity android:name=".activities.MainActivity"/>
        <!--个人信息-->
        <activity android:name=".activities.MyInformationActivity"/>
        <!--我的收藏-->
        <activity android:name=".activities.CollectionActivity"/>
        <!--我的订单-->
        <activity android:name=".activities.OrderActivity"/>
        <!--地址管理-->
        <activity android:name=".activities.AddressActivity"/>
        <!--代金券-->
        <activity android:name=".activities.VoucherActivity"/>
        <!--优惠券-->
        <activity android:name=".activities.CouponActivity"/>
        <!--设置-->
        <activity android:name=".activities.SettingActivity"/>
        <!--关于-->
        <activity android:name=".activities.AboutActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
